/* ----INDEX------*/
* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.index{
		overflow-y: hidden;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

}

.wrap{
	width: 50%;
	max-width: 1000px;
	position: absolute;
	z-index: 1;
	height: 30%;
	
}
.widget{
	width: 50%;
	margin: 2em;
}

.widget p{
display: inline-block;
line-height: 1em;
}

.fecha{
	font-family: Orbitron;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 0.3125rem;
	background: rgba(0,0,0,.8);
	padding: 20px;
	width: 120%;
	color: white;

}

.reloj{
	font-family: Orbitron;
	width: 120%;
	padding: 20px;
	font-size: 3em;
	text-align: center;
	background: rgba(0,0,0,.8);
	color: white;

}

.reloj .caja-segundos{
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm{
	font-size: 2rem;
	padding: 0px;
	display: block;

}
 
 @keyframes slidy {
		0% { left: 0%; }
		20% { left: 0%; }
		25% { left: -100%; }
		45% { left: -100%; }
		50% { left: -200%; }
		70% { left: -200%; }
		75% { left: -300%; }
		95% { left: -300%; }
		100% { left: -400%; }
}

div#slider { 
		overflow: hidden; 
}

div#slider figure img {
		width: 20%; 
		float: left; 
 }
 
div#slider figure { 
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		text-align: left;
		font-size: 0;
		animation: 30s slidy infinite; 
}
}

 /* ----INDEX------*/

/*----NOSOTROS---*/
.nosotros {
		overflow: hidden;
		background: url(img/pastel1.jpg) no-repeat center center fixed;
		background-size: cover;
		overflow-x: hidden;
		overflow-y: scroll;

 }
.nosotros .contenedor {
		width:70%;
		background: #ECDBCD;
		margin:auto;
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:0 15px 30px 15px;
		margin-top: 100px;
		margin-left: 230px;
		box-shadow: 1px 1px #881010, 2px 2px #881010, 3px 3px #881010, 4px 4px white, 5px 5px #881010, 6px 6px #881010, 7px 7px white, 8px 8px #881010, 9px 9px #881010, 10px 10px white, 11px 11px #881010, 12px 12px #881010, 13px 13px white, 14px 14px #881010, 15px 15px #881010, 16px 16px white, 17px 17px #881010, 18px 18px #881010, 19px 19px white, 20px 20px #881010;
	
}

.nosotros .contenedor h1{
		text-align: center;
		color: orange;
		font: 4em Jokerman;
		text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px #881010, 5px 5px #881010, 6px 6px #881010, 7px 7px #881010, 8px 8px #881010, 9px 9px #881010, 10px 10px #881010, 11px 11px #881010, 12px 12px #881010, 13px 13px #881010, 14px 14px #881010, 15px 15px #881010, 16px 16px #881010, 17px 17px #881010, 18px 18px #881010, 19px 19px #881010, 20px 20px #881010;
		float: left;
		text-transform: uppercase;
		margin-left: 200px;
		margin-top: 10px;
	
	

}

.nosotros .contenedor p{
		width: 400px;
		margin-right: 100px;
		float: right;
		margin-top: 50px;
		text-align: justify;
		font: normal 1.3em "Segoe Script";
}

.nosotros .contenedor figure{

		float: left;
}

.nosotros .contenedor #table{

		width: 950px;

}

.nosotros #table p{
		width: 215px;
		margin-left: 80px;
		text-align: center;
		margin-right: -20px;
		margin-top: 10px;
		font: 1.1em "Segoe Print";
}

.nosotros figcaption{

		text-align: center;
		margin-left: 15px;
		border-bottom: 2px solid orange;
		font: 1.3em "Segoe Print";
}

.nosotros .contenedor img{
		margin: 20px;
		border: 1px solid black;
		border-radius: 50%;

}
/*----NOSOTROS---*/

/*----F.A.Q----*/

.faq {
		overflow-x: hidden;
		overflow-y: scroll;
		background: url(img/pastel4.jpg) no-repeat center center fixed;
		background-size: cover;

 }
 
 .faq .img {
		width:200px;
		position:relative;
		top: -90px;
		filter: drop-shadow(0 25px 0px #E1D6F6);
}

.faq h3.titulo{
		text-align:center;
		color: hsl(238,29%, 16%);
		font-size: 3em;
		font-weight:700;
		margin-top: -50px;
		margin-bottom: 50px;

}
 
summary{

		font-size: 1.25rem;
		font-weight: 600;
		background-color: #fff;
		color: #333;
		padding: 1rem;
		margin-bottom: 1rem;
		outline: none;
		border-radius: 0.25rem;
		text-align: left;
		cursor: pointer;
		position: relative;
  }

details > summary::after {
		position: absolute;
		content: "+";
		right: 20px;
}
details[open] > summary::after {
		position: absolute;
		content: "-";
		right: 20px;
}
details > summary::-webkit-details-marker {
		display: none;
}

details[open] summary ~ * {
		animation: sweep .5s ease-in-out;
}
@keyframes sweep {
		0%    {opacity: 0; margin-top: -10px}
		100%  {opacity: 1; margin-top: 0px}
}

#preguntas .respuesta{

		color: black;
		line-height:17px;
		padding-bottom:20px;
		position:relative;
        transition:top 1s, opacity 1s;
		z-index:1;	
}

.faq #princNav h2{

		font: normal 1.2em Arial;
		text-shadow: none;
}

.faq .contenedor {
		width:70%;
		background: rgba(255,255,255,0.9 );
		border-radius:20px;
		margin:auto;
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:0 15px 30px 15px;
		margin-top: 100px;
		margin-left: 230px;
}

/*----F.A.Q----*/

/*----PRODUCTOS----*/

.productos *, *::before, *::after {
		box-sizing: border-box;
		margin: 0;
		text-decoration: none;
}

.productos {
		margin: auto;
		min-width: 500px;
		overflow-x: hidden;
		overflow-y: scroll;
		background: url(img/pastel4.jpg) no-repeat center center fixed;
		background-size: cover;
}

.productos #princNav{

		background-color: rgba(255,255,255,.7);
		width: 90%;
		margin-left: 70px;
}

.productos header {
 
		background: url(img/asd.jpg);
		background-blend-mode: screen;
		background-size: cover;
		padding: 2rem;
		margin-top: 0px;
}

.productos p {
  
		font-family: Tahoma;
		text-align: center;
}

.productos h1 {
		font-size: 70px;
		padding: 30px;
		color: white;
		font-family: Tahoma;
		text-align: center;
}

.productos h2 {
		font-size: 18px;
		font-weight: 400;
		opacity: .7;
		padding: 45px 0 2px;
		font-family: Tahoma;
		text-align: center;
}

.header-para {
		display: flex;
		font-size: 13.5px;
		opacity: .5;
		justify-content: center;
		padding: 0 0 25px;  
}

.header-para div {
		width: 25%;
}

.header-para p {
		width: auto;
}

.productos a, a:hover, a:visited {
		color: inherit;
}

.productos footer a:hover {
		font-style: italic;
}

.productos button a:hover {
		font-weight: 700;
}

.img-tran p {
		align-self: center;
		display: flex;
		color: rgba(0, 0, 0, .85);
		flex-direction: column;
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: .05rem;
		opacity: 0;
		position: absolute;
		width: 75%;
		z-index: 0;
}

.oculto {
		color: rgba(0, 0, 0, 1);
		font-size: .85rem;
		font-weight: 500;
		padding: 15px;
}

.boton-contenedor {
		display: flex;
		justify-content: center;
}

.btn-ver-mas {
		background-color: rgba(50, 125, 175, 0.75);
		border: none;
		color: white;
		font-size: 25px;
		margin: 25px 0 75px;
		padding: 10px 20px;
}

.galleria-contenedor {
		background-color: rgba(255,255,255,.7);
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 290px 1fr 290px;
		margin: auto;
		max-width: 1100px;
		padding: 10px;
}

.productos img {
		max-height: 490px;
		max-width: 500px;
		object-fit: cover;
		padding: 10px;
}

.img-block-top, 
.img-block-middle, 
.img-block-bottom {
		display: flex;
		justify-content: center;
		display: flex;
}

.img-tran {
  display: flex;
		justify-content: center;
		object-fit: cover;
		position: relative;
}

.img-wrap {
		max-height: 290px;
		max-width: 580px; 
		width: 50%;
}

.img-wrap-center {
		width: 40%; 
}

.img-wrap-outer {
		width: 30%; 
}

.top-img,
.bottom-img {
		max-height: 290px;
		max-width: 580px;
		width: 100%;
}

.center-img,
.outer-img { 
		width: 100%;
}

.productos .img-tran:hover p {
		opacity: 1;
}

.productos .img-tran * {
		transition: all 0.45s ease;
}

.productos .img-tran:hover img {
		opacity: .5;
}

.productos .contenedor {
		width:70%;
		background: rgba(255,255,255,0.9 );
		border-radius:20px;
		margin:auto;
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:0 15px 30px 15px;
		margin-top: 100px;
		margin-left: 230px;
}

/*----PRODUCTOS----*/

/*----CONTACTO----*/

.contacto {
		overflow: hidden;
		background: url(img/asd.jpg) no-repeat center center fixed;
		background-size: cover;
 }

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
		--white: #afafaf;
		--red: #e31b23;
		--bodyColor: #292a2b;
		--borderFormEls: hsl(0, 0%, 10%);
		--bgFormEls: hsl(0, 0%, 14%);
		--bgFormElsFocus: hsl(0, 7%, 20%);
}

.contacto * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		outline: none;
}

.contacto a {
		color: inherit;
}

.contacto input,
select,
textarea,
button {
		font-family: inherit;
		font-size: 100%;
}

.contacto button,
label {
		cursor: pointer;
}

select {
		appearance: none;
}



textarea {
		resize: none;
}

.contacto ul {
		list-style: none;
}

.contacto {
		font: 18px/1.5 "Open Sans", sans-serif;
		color: var(--white);
		margin: 1.5rem 0;
}

.contacto .contenedor {
		max-width: 750px;
		margin: 0 auto;
		padding: 0 1.5rem;
		height: 650px;
		background: rgba(0,0,0,.7);
}

.formulario h1 {
		margin-bottom: 1.5rem;
}

.formulario li,
.formulario .grid > *:not(:last-child) {
		margin-bottom: 1.5rem;
}

.formulario select,
.formulario input,
.formulario textarea,
.formulario button {
		width: 100%;
		line-height: 1.5;
		padding: 15px 10px;
		border: 1px solid var(--borderFormEls);
		color: var(--white);
		background: var(--bgFormEls);
		transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
		transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.formulario textarea {
		height: 170px;
}

.formulario ::placeholder {
		color: inherit;
		opacity: 1;
}

.formulario select:focus,
.formulario input:focus,
.formulario textarea:focus,
.formulario button:enabled:hover,
.formulario button:focus,
.formulario input[type="checkbox"]:focus + label {
		background: var(--bgFormElsFocus);
}

.formulario select:focus,
.formulario input:focus,
.formulario textarea:focus {
		transform: scale(1.02);
}

.formulario *:required,
.formulario select {
		background-repeat: no-repeat;
		background-position: center right 12px;
		background-size: 15px 15px;
}

.formulario *:required {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
}

.formulario select {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.formulario *:disabled {
		cursor: default;
		filter: blur(2px);
}

.formulario .required-msg {
		display: none;
		background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
		no-repeat center left / 15px 15px;
		padding-left: 20px;
}

.formulario .btn-grid {
		position: relative;
		overflow: hidden;
		transition: filter 0.2s;
}

.formulario button {
		font-weight: bold;
		margin-top: -10px;
}

.formulario button > * {
		display: inline-block;
		width: 100%;
		transition: transform 0.4s ease-in-out;
}

.formulario button .back {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-110%, -50%);
}

.formulario button:enabled:hover .back,
.formulario button:focus .back {
		transform: translate(-50%, -50%);
}

.formulario button:enabled:hover .front,
.formulario button:focus .front {
		transform: translateX(110%);
}

.formulario input[type="checkbox"] {
		position: absolute;
		left: -9999px;
}

.formulario input[type="checkbox"] + label {
		position: relative;
		display: inline-block;
		padding-left: 2rem;
		transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.formulario input[type="checkbox"] + label::before,
.formulario input[type="checkbox"] + label::after {
		content: '';
		position: absolute;
}
	
.formulario input[type="checkbox"] + label::before {
		left: 0;
		top: 6px;
		width: 18px;
		height: 18px;
		border: 2px solid var(--white);
}

.formulario input[type="checkbox"]:checked + label::before {
		background: var(--red);
}

.formulario input[type="checkbox"]:checked + label::after {
		left: 7px;
		top: 7px;
		width: 6px;
		height: 14px;
		border-bottom: 2px solid var(--white);
		border-right: 2px solid var(--white);
		transform: rotate(45deg);
}

@media screen and (min-width: 600px) {
  .formulario .grid {
		display: grid;
		grid-gap: 1.5rem;
  }

  .formulario .grid-2 {
		grid-template-columns: 1fr 1fr;
  }

  .formulario .grid-3 {
		grid-template-columns: auto auto auto;
		align-items: center;
  }

  .formulario .grid > *:not(:last-child) {
		margin-bottom: 0;
  }

  .formulario .required-msg {
		display: block;
		color: white;
  }
}

@media screen and (min-width: 541px) {
  .formulario input[type="checkbox"] + label::before {
		top: 50%;
		transform: translateY(-50%);
  }

  .formulario input[type="checkbox"]:checked + label::after {
		top: 3px;
  }
}

/*----CONTACTO----*/

/*---ESTILO GENERAL-----*/ 
 .circular-menu {
		position: fixed;
		bottom: 1em;
		right: 1em;
}

.circular-menu .floating-btn {
		display: block;
		width: 3.5em;
		height: 3.5em;
		border-radius: 50%;
		background-color: hsl(4, 98%, 60%);
		box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
		color: hsl(0, 0%, 100%);
		text-align: center;
		line-height: 3.9;
		cursor: pointer;
		outline: 0;
  
}

.circular-menu.active .floating-btn {
		box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
		box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
		font-size: 1.3em;
		transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
		transform: rotate(-45deg);
}

.circular-menu:after {
		display: block;
		content: ' ';
		width: 3.5em;
		height: 3.5em;
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -2;
		background-color: hsl(4, 98%, 60%);
		transition: all .3s ease;
}

.circular-menu.active:after {
		transform: scale3d(5.5, 5.5, 1);
		transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
		padding: 0;
		margin: 0;
}

.circular-menu .menu-item {
		position: absolute;
		top: .2em;
		right: .2em;
		z-index: -1;
		display: block;
		text-decoration: none;
		color: hsl(0, 0%, 100%);
		font-size: 1em;
		width: 3em;
		height: 3em;
		border-radius: 50%;
		text-align: center;
		line-height: 3;
		background-color: hsla(0,0%,0%,.1);
		transition: transform .3s ease, background .2s ease;
 }

.circular-menu .menu-item:hover {
		background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
		transform: translate3d(1em,-7em,0);	
}

.circular-menu.active .menu-item:nth-child(2) {
		transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
		transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
		transform: translate3d(-7em,1em,0);
}

.circular-menu.circular-menu-left {
		right: auto; 
		left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
		background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
		background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
		transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
		transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
		transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
		transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
		transform: translate3d(7em,1em,0);
}
/*---GENERAL-----*/ 

